.login-wrap {
    width: 100%;
}
.login-container {
    width: 40%;
    margin: 2% auto;
}
.login-text {
    text-align: center;
    font-size: 0.9em;
    font-family: 'Tangerine', serif;
}
input {
    background-color: #fff;
}
@media screen and (max-width: 796px) {
    .login-container {
        width:  90%;
    }
}