.small-loader {
    position: absolute;
<<<<<<< HEAD
    margin: auto;
=======
    top: 10px;
    left: 820px;
    margin-top: 300px;
>>>>>>> 52d6a110f9606782745c3c94b087e306431270d4
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #eee;
    border-right: 4px solid #eee;
<<<<<<< HEAD
    border-bottom: 4px solid #007bff;
    border-left: 4px solid #007bff;
=======
    border-bottom: 4px solid #b38f00;
    border-left: 4px solid #b38f00;
>>>>>>> 52d6a110f9606782745c3c94b087e306431270d4
    width: 30px;
    height: 30px;
    margin: -25px -2\0px 0px 100px;
    -moz-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
   0%{-moz-transform: rotate(0deg);}
   100%{-moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin {
   0%{-webkit-transform: rotate(0deg);}
   100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}