.nav-wrap {
    display: flex;
    width: 100vw;
    background-color: #fff;
    color: #494949;
    position: fixed;
    height: 80px;
    top: 0px;
    margin: 0rem;
    overflow: hidden;
    /* overflow: auto; */
    /* box-sizing: border-box; */
}
.item {
    font-size: 0.7em;
    padding: 0vw 1vw;
    color: #0d0d0d;
    font-family: 'HelveticaNeueLTPro-Bd',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-decoration: none !important; 

}
/* .responsive-wrap {
    background-color: blue;
    width: 55vw;
    height: 70%;
    display: none;
    position: relative;
    left: 40vw;
} */
.icon {
    font-size: 1.4em;
    padding: 0vw 1vw;
    color: #0d0d0d;
    font-family: 'HelveticaNeueLTPro-Bd',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-decoration: none; 
    display: none;
}
/* #thisId {
    display: none;
} */
.wrap {
    width: 60%;
    height: 70%;
    display: flex;
    position: relative;
    left: 30%;
    text-align: center;
}
.logo-brand {
    width: 20%;
    height: 50%;
    display: flex;
}

.logo {
    font-size: 1.2em;
    color: #e6b800;
    /* color: #cca300; */
}
.logo-label {
    font-Weight: bold;
    color: #0d0d0d;
    font-size: 1em;
}
div .item:hover {
    color: #e6b800;
}

@media screen and (max-width: 600px) {
    .wrap .item {
    display: none;
    }
    .wrap .icon {
      float: right;
      display: block;
    }
    .logo-brand {
        display: none;
    }
    /* .nav-wrap {
        height: 240px;
    } */
  }