.navContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
    color: #494949;
    top: 0px;
    margin: 0rem;
}
.item {
    font-size: 0.8em;
    padding: 0vw 9px;
    color: #333;
    font-weight: bold;
    text-decoration: none !important; 
}
.wrap {
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    position: relative;
    left: 30%;
}
.logoBrand {
    width: 20%;
    height: 70%;
    display: flex;
}
.logo {
    font-size: 1.2em;
    color: #e6b800;
}
.logoLabel {
    font-Weight: bold;
    color: #333;
    font-size: 0.9em;
}
div .item:hover {
    color: #e6b800;
}
.admin {
    position: relative;
    left: 25%;
    width: 5%;
}   
/* sets hamburger to display to remove for desktop view  */
.hamburger {
    position: relative;
    left: 60vw;
    display: none;
}
.sideNav {
    width: 50%;
    height: 70%;
    background-color: #fff;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0%;
    left: 50%;

    transition: 5s ; 
}

.sideNav:hover {
    left: 100%;

}

.sideNav:hover .hamburger {
    background-color: blue;
}
.slideLeft {
    right: 40%;
}
.sideNavItem {
    font-size: 0.8em;
    padding: 0vw 9px;
    color: #333;
    font-weight: bold;
    text-decoration: none !important; 
}

.buttonClose {
    border: #808080 1px solid;
    border-radius: 50%;
    background-color: #e3e3e3;
    color: #000;
    width: 25px;
    height: 25px;
    text-align: center;
}
@media screen and (max-width: 769px) {
    .wrap, .admin {
    display: none;
    }
    .hamburger {
        display: block;
    }
    .logoLabel {
        font-size: 0.7em;
    }
    .navContainer {
        width: 100%;
    }

  }