<<<<<<< HEAD
.modal-container {
    width: 100%;
    
}
.modal-content {
    border: 2px groove #f0f0f0;
    border-radius: 2px;
    width: 20%;
    /* height: 50%; */
}
=======
>>>>>>> 52d6a110f9606782745c3c94b087e306431270d4
