.newsWrap {
    background-color: chocolate;
    width: 1440px;
    margin: auto;
    margin-top: 90px;
    
}
.newsWrapTwo {
    background-color: cornflowerblue;
    display: flex;
    width: 100%;
    margin: auto;
}
.articles h1 {
    display: inline;
    color: #e6b800;
}
.articles {
    background-color: cornsilk;
    width: 45%;
    height: 30%;
    margin: 30px 0px;

}
div > h3 {
    color: #737373;
}
span {
    color:#999999;
    /* width: 150% */
}
.myLink {
    background-color: #856114;
    padding: 10px;
    color: #fff;
}
i {
    color: #e6b800;
    font-size: 1.5em;
}
.readMore {
    margin-top: 5px;
}
.mainImage {
    background-image: url("../../assets/covid19.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 45% !important;
    height: 40%;
    padding-left: 5vw;
    margin: 40px 0px;
}
div a {
    text-decoration: none;
}
div p {
    color: #666666;
}
