.home-wrap {
  background-color: #133913;
  width: 550px;
  height: 400px;
  margin: 70px auto;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.main-title {
  color: #fff;
  text-align: center;
  margin: 15px;
  font-size: larger;
  font-weight: bold;
}
.title {
  color: #eec800;
}
div div label {
  /* display: inline; */
}

.statistic {
  margin: 30px 0px;
  /* height: ; */
}
#date {
  color: #fff;
}
.confirmed {
  display: flex;
  justify-content: center;
  height: 10vh;
  margin-bottom: 1.2rem;
}

.space {
  margin-right: 1.1rem;
}

.width-label {
  width: 50%;
}

.width-count {
  width: 12%;
}
.confirmed-item {
  color: #0d0d0d;
  background-color: #eec800;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discharged {
  display: flex;
  justify-content: center;
  height: 10vh;
  margin-bottom: 1.2rem;
}
.discharged-item {
  color: white;
  background-color: green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.death {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 10vh;
}
.death-item {
  color: white;
  background-color: red;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* label {
  width: 250px;
  height: 60px;
  margin: 5px;
  align-content: center;
} */
/* .statistic div p {
  width: 70px;
  height: 60px;
  margin: 5px;
} */
