.home_wrap {
    background-color: #133913;
    width: 550px;
    height: 430px;
    margin: 70px auto ;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.main_title {
    color: white;
}
.title {
    color: #eec800;
}
.statistic {
    margin: auto;
    /* height: ; */
}
#date {
    color: #fff;
}
.confirmed {
    display: flex;
    justify-content: center;
    /* height: ; */
    
}
.confirmed_item {
    color: black;
    background-color: #eec800;
    border-radius: 5px;

}
.discharged {
    display: flex;
    justify-content: center;

}
.discharged_item {
    color: white;
    background-color: green;
    border-radius: 5px;
}
.death {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    text-align: center;
}
.death_item {
    color: white;
    background-color: red;
    border-radius: 5px;

}
label {
    width: 250px;
    height: 60px;
    margin: 5px;
    /* text-align: center; */
    align-content: center;


        /* align-items: center; */


}
p {
    width: 70px;
    height: 60px;
    margin: 5px;

}