.footer-wrap {
    width: 100%;
    height: 70vh;
    background-color: #565d5d;
  
}
.footer-nav {
    background-color: #3d4343;
    color:  #a2a9a9;
    height: 20%;
    margin: 0;
}
.footer-item {
    display: flex;
    justify-content: center;
    color: #f2f3f3;
    height: 35%;
    width: 80vw;
    margin: auto;
}
.footer-logo-brand {
    height: 50%;
}
.footer-logo {
    font-size: 1.2em;
    color: #b38f00;
}
.footer-logo-label {
    font-Weight: bold;
    color: #000;
}
ul {
    display: flex;
    position: relative;
    height: 50%;
    margin: auto;
    padding: 0%;
    overflow: hidden;
 
}
ul > i {
    margin: 0px 10px;
    font-size: 1em;
}
span {
    margin:     50px;
    list-style-type: none; 

}
span > li {
    margin: 10px;
}