.footer-wrap {
    width: 100vw;
    background-color: #565d5d;
    position: fixed;
    bottom: 0;
    height: 330px;
}
.footer-nav {
    background-color: #3d4343;
    color:  #a2a9a9;
    height: 10vh;
    /* width: 80vw; */
    /* margin: auto; */
}
.footer-item {
    display: flex;
    justify-content: center;
    color: #f2f3f3;
    height: 35%;
    width: 80vw;
    margin: auto;
    /* padding: 10px 20px; */
}
.footer-logo-brand {
    /* width: 10vw; */
    height: 50%;
}
.footer-logo {
    font-size: 2.5em;
    color: #b38f00;
}
.footer-logo-label {
    font-Weight: bold;
    color: #000;
}
ul {
    display: flex;
    position: relative;
    left: 40%;
    height: 50%;
    margin: auto;
    overflow: hidden;
    /* justify-content: space-between; */
    /* padding: 3px; */
}
ul > i {
    margin: 0px 10px;
    font-size: 1.5em;
}
span {
    margin:     50px;
    list-style-type: none; 

}
span > li {
    margin: 10px;
}