body {
  box-sizing: border-box;
  background-color: #e3e3e3;
  margin-top: 0em;
  margin: 0;
  font-family: 'Tangerine', serif;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
