.donate-wrap {
    width: 100vw;
    margin-top: 97px;
    }
    .wrap-two {
        width: 40%;
        margin: auto;
        /* background-color: aqua; */
    }
    .donate-text {
        /* border: 2px solid black; */
        /* width: 37%; */
        margin: auto;
        /* height: 77%; */
    }
    .payment {
        /* border: 2px solid black; */
        width: 37%;
        margin-bottom: 20px;
        height: 77%;
        margin-left: 5vw;
    }
    p {
        font-size: 1.2em;
        line-height: 1.7;
        /* text-align: left; */
        color: #000;
        margin-bottom:  20px;
    }
    i {
        color:#e6b800
    }
    .heading {
        margin-top: 150px;
        text-align: center;
    
    }
    .custom-button {
    }
    .custom-button button {
        background-color: #e6b800;
        color:#fff;
        width: 70px;
        height: 50px;
        margin: 30px;
    
    }
    div > button {
        width: 150px;
        height: 50px;
        color: #fff;
        background-color: #e6b800;
    }