.donateWrap {
  width: 100%;
  /* background-color: #fff; */
}
.wrapTwo {
  width: 60%;
  height: 40%;
  margin: 1.5% auto 4%;
  font-size: 0.7em !important;
  padding: 1%;
  background-color: #fff;
}
.donateText {
  margin: auto;
  font-size: 0.9em;
  height: 80%;
}
.payment {
  width: 37%;
  margin: auto;
  margin-bottom: 40px;
  height: 20%;
  display: flex;
  justify-content: center;
}
p {
  font-size: 1.2em;
  line-height: 1.7;
  /* text-align: left; */
  color: #000;
  margin-bottom: 20px;
}
i {
  color: #e6b800;
}
.heading {
  margin-top: 30px;
  text-align: center;
  /* background-color: aqua;
  font-weight: 700px; */

  font-size: 1em;
  font-weight: 600;
  line-height: 0em;
}
div > button {
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #e6b800;
}
.modalContent {
  padding: auto;
}

h3 {
  font-weight: 500;
}
.modalTitle {
  font-weight: 600;
}
