.news_wrap {
    display: flex;
    width: 80vw;
    margin: 100px auto;
}
.main_news {
    display: flex;
    background-color:#fff;
    margin: 5px;
    width: 55vw;
}
.main_news div > h1 {
    display: inline;
    color: #e6b800
}
div > h3 {
    color: #737373;
}
.NewImage {
    background-color:#fff;
    width: 25vw;
    margin: 5px;

}
span {
    /* color: #e6b800; */
    color:#B6B6B6;
    /* margin: 5px; */
}
.myLink {
    width: 50px;
    height: 20px;
    background-color: #856114;
    padding: 10px;
    color: #fff;
}
i {
    color: #e6b800;
}
