.news_wrap {
    display: flex;
    width: 80vw;
    margin: 100px auto;
}
.main_news {
    display: flex;
    background-color:#fff;
    margin: 5px;
    width: 55vw;
}
.sidebar_news {
    background-color:#fff;
    width: 25vw;
    margin: 5px;

}
i {
    color: #e6b800;
}