.news_wrap {
    display: flex;
    width: 80vw;
    margin: 100px auto;
}
.main_news {
    display: flex;
    background-color:#fff;
    margin: 5px;
    width: 55vw;
}
.NewImage {
    background-color:#fff;
    width: 25vw;
    margin: 5px;

}
i {
    color: #e6b800;
    /* margin: 5px; */
}
a {
    width: 30px;
    height: 10px;
    background-color: #e6b800;
    ;
}